src/main/mule/testproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="testprojectFlow" doc:id="a625cb52-939d-4959-8d24-3d0df1f8465e" >
		<logger level="INFO" doc:name="Logger" doc:id="6e04e6da-92b3-4f91-a93a-ff5588e136a6" message='"newproject"'/>
		<logger level="INFO" doc:name="Logger" doc:id="7b6953e8-da5c-4e40-8a18-efc7d57f92f4" message='#["second logger"]'/>
	</flow>
</mule>
